*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.container{
    padding-top: 90px;
}

.wrapper{
    position: relative;
    max-width: 430px;
    width: 100%;
    background:#fff;
    padding: 34px;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    margin: auto;
}


.wrapper h2{
    position: relative;
    font-size: 22px;
    font-weight: 600;
    color: #333;
}


.wrapper h2::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 28px;
    border-radius: 12px;
    background: #4070f4;
}


.wrapper form{
    margin-top: 30px;
}


.wrapper form .input-box{
    height: 52px;
    margin: 18px 0;
}


form .input-box input {
    height: 100%;
    width: 100%;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-weight: 400;
    color: #333;
    border: 1.5 solid #c7bebe;
    border-bottom-width: 2.5px;
    border-radius: 6px;
    transition: all 0.3s ease ;

}


.input-box input:focus,
.input-box input:valid{
    border-color:#4070f4;
}


form .policy{
    display: flex;
    align-items: center;
}


form h3{
    color: #707070;
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
}


.input-box.button input{
    color: #fff;
    letter-spacing: 1px;
    border: none;
    background: #4070f4;
    cursor: pointer;
}


.input-box.button input:hover{
    background: #0e4bf1;
}


form .text h3{
    color: #333;
    width: 100%;
    text-align: center;
}


form .text h3 a{
    color: #4070f4;
    text-decoration: none;
}


form .text h3 a:hover{
    text-decoration: underline;
}

.input-box.success input{
     border: 3px solid #4ECA64;
}

.input-box.error input{
    border: 3px solid #DB5A5A;
}




.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
